Package: com.angel.yeepscompanion
Name: YeepsCompanion+
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Mods for Yeeps Companion - Fly, Speed, ESP and more
Maintainer: Angel
Author: Angel
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 15.0)
